.contact-container{
        min-height: 100vh;
        width: 100vw;
        background-color: var(--light);
        position: relative;
        display: flex;
        justify-content: center;
}

        .contact-window{
                display: flex;
                width: 95.4%;
                min-height: 80.3%;
                padding-bottom: 12.5vh;
                background-color: var(--light);
                justify-content: center;
                align-items: flex-end;
        }

                .about-me{
                        width: 30%;
                        height: 90%;
                        background-color: var(--dark);
                        display: flex;
                        flex-direction: column;
                }

                        .about-top-bar{
                                width: 100%;
                                height: 3vh;
                                background-color: var(--medium);
                                position: relative;
                                top: 0;
                        }

                        .profile-window{
                                width: 100%;
                                flex: 1;
                        }

                                .profile-picture{
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        container-type: size; /* Enables container queries */
                                }

                                /* If portrait (height > width) → width: 100% */
                                @container (max-aspect-ratio: 1/1) {
                                        .profile-picture > * {
                                                width: 90%;
                                                aspect-ratio: 1/1;
                                        }
                                }
                                
                                @container (min-aspect-ratio: 1/1){
                                        .profile-picture > * {
                                                aspect-ratio: 1/1;
                                                height:85%;
                                        }
                                }

                        .about-section{
                                width: 100%;
                                height: fit-content;
                        }

                                .about-low-bar{
                                        width: 100%;
                                        height: 3vh;
                                        background-color: var(--medium);
                                        display: flex;
                                        align-items: center;
                                        
                                }

                                        .about-low-bar h3{
                                                font-family: JetbrainsMono-Regular;
                                                color: var(--light);
                                                font-weight: lighter;
                                                margin-left: 3.5%;
                                        }

                                .about-description{
                                        width: 100%;
                                        height: fit-content;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                }

                                        .about-description-text{
                                                width: 93%;
                                                height: fit-content;
                                                color: var(--light);
                                                margin: 5% 5% 5% 5%;
                                                font-weight: lighter;
                                        }

                                                .about-description-text h1{
                                                        font-size: clamp(0.5rem, 1.5vw, 2rem); /*min preferred max*/
                                                        font-family: GeneralSans-Regular;
                                                        margin: 0 0 0 0
                                                }

                                                .about-description-text h3{
                                                        font-size: clamp(0.5rem, 1.5vw, 2rem); /*min preferred max*/
                                                        font-family: JetbrainsMono-Regular;
                                                        margin: 0 0 0 0
                                                }

                                                .about-description-text p{
                                                        font-size: clamp(0.5rem, 1.2vw, 2rem); /*min preferred max*/
                                                        font-family: JetbrainsMono-Regular;
                                                        margin: 0 0 5% 5%
                                                }

                .contact-description-window{
                        width: 70%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                }

                        .contact-description{
                                width: 100%;
                                height: 50%;
                                color: var(--dark);
                        }

                                .contact-description h1{
                                        margin: 10% 0% 0% 10%;
                                        font-family: GeneralSans-Bold;
                                        font-size: clamp(0.5rem, 6vw, 4rem); /*min preferred max*/
                                        font-weight: lighter;
                                }
                                
                                .contact-description h2{
                                        margin: 0% 0% 0% 10%;
                                        font-family: GeneralSans-Regular;
                                }

                                .contact-description p{
                                        margin: 4% 0% 0% 10%;
                                        font-family: JetbrainsMono-Regular;
                                        font-size: clamp(0.5rem, 1.3vw, 1rem); /*min preferred max*/
                                }


                        .contact-icons-container{
                                width: 100%;
                                margin-top: 5%;
                                flex: 1;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                pointer-events: all;
                        }

                                .contact-icons-container a{
                                        display: block;
                                        width: 20%;
                                        aspect-ratio: 1/1;
                                        pointer-events: all;
                                        text-decoration: none;
                                }

                                        .contact-icon{
                                                display: flex;
                                                width: 100%;
                                                aspect-ratio: 1/1;
                                                flex-direction: column;
                                                justify-content: space-between;
                                                align-items: center;
                                                cursor:pointer;
                                        }

                                                .contact-icon img{
                                                        height: 100%;
                                                        aspect-ratio: 1/1;
                                                }

                                                .contact-icon h1{
                                                        font-family: JetbrainsMono-Regular;
                                                        color: var(--dark);
                                                        font-weight: lighter;
                                                        text-align: center;
                                                }