.projects-container{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;          /* just in case */
        padding: 0;         /* make sure there’s no extra space inside */
        z-index: 0;
        overflow: hidden;
        background-color: var(--light);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
}

        .windows-container{
                width: 95.4%;
                height: 80.3%;
                background-color: var(--light);
                position: relative;
                display: inline-block;
                overflow: visible;
        }

        .bottom-row-container{
                width: 95.4%;
                height: 12.5%;
                position: static;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
        }

                .clock{
                        height: 100%;
                        aspect-ratio: 1/1;
                        background-color: var(--light);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        font-family: Jetbrainsmono-Regular;
                        font-size: clamp(0.7rem, .9vw, 2rem); /*min preferred max*/
                }

                .project-tracker{
                        height: 100%;
                        width: 40%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                }

                        .project-tracker div{
                                font-family: JetbrainsMono-Regular;
                                font-size: clamp(0.5rem, 1.3vw, 1rem); /*min preferred max*/
                                padding: 2vw;
                        }

                .about-me-button{
                        height: 100%;
                        aspect-ratio: 1/1;
                        background-color: blue;
                }

                #project-panel1{
                        top: 1%;
                        right: 30%;
                }

                #project-panel2{
                        right: 0%;
                        top: 10%;
                }

                #project-panel3{
                        left: 7%;
                        top: 15%;
                }