.app-container{
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

section {
  height: 100dvh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  overflow: hidden;
}