.app-container{
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

section#hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
}