html{
  height: 100dvh;    /* Set the root to full viewport height */
  height: 100vh;     /* Fallback for browsers that do not support dvh */
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--light);
  scroll-behavior: auto;
}

body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--light);
  scroll-behavior: auto;
}

/* hide window scrollbar while maintaining functionality: */
html::-webkit-scrollbar { width:0; height:0; }
html { scrollbar-width: none; -ms-overflow-style: none; }
/*************************************COLORS************************************************************/
:root{
  --dark: #282828;
  --medium: #454545;
  --light: #cfcfcf;
  --blue: #6C8DFA;
  --green: #69D84F;
}
/*************************************FONTS************************************************************/
@font-face {
  font-family: 'JetbrainsMono-Regular';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('./fonts/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-BoldItalic';
  src: url('./fonts/GeneralSans-BoldItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-Extralight';
  src: url('./fonts/GeneralSans-Extralight.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-ExtralightItalic';
  src: url('./fonts/GeneralSans-ExtralightItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-Italic';
  src: url('./fonts/GeneralSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-Light';
  src: url('./fonts/GeneralSans-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-LightItalic';
  src: url('./fonts/GeneralSans-LightItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('./fonts/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-MediumItalic';
  src: url('./fonts/GeneralSans-MediumItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('./fonts/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('./fonts/GeneralSans-Semibold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'GeneralSans-SemiboldItalic';
  src: url('./fonts/GeneralSans-SemiboldItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
